{%   extends("CelmediaPortalSmsBundle::layout.html.twig") %}


{% block contenido %}
{% block body -%}
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Ejecucion de campanas </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-bullhorn"></i> Grupos</li>
            </ol>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-6">
                <h2>Listado</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tablesorter">
                        <thead>
                          <tr>
                            <th class="header">Nombre <i class="fa fa-sort"></i></th>
                            <th class="header">Descipcion <i class="fa fa-sort"></i></th>
                            <th class="header">Objetivo <i class="fa fa-sort"></i></th>
                            <th class="header">Actions <i class="fa fa-sort"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for entity in campanas %}
                                <tr>
                                    <td>{{ entity.nombre }}</td>
                                    <td>{{ entity.descripcion }}</td>
                                    <td>{{ entity.objetivo }}</td>
                                    <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('campana_ejecutar', { 'id': entity.id }) }}">Ejecutar</a>
                                        </li>
                                       
                                    </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <ul>
                        <li>
                            <a href="{{ path('campana_new') }}">
                                Create a new entry
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>




</div>

{% endblock %}

{% endblock %}

