{% extends("CelmediaPortalBundle::layout.plus.html.twig") %}
{% block title %}Clientes ingresados{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row">




        <div class="span10 offset1 bs-docs-sidebar">

            
            
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
            <div class="flash-notice alert alert-success">
      {{ flashMessage }}
            </div>
    {% endfor %}



            <div class="card">
                <h3 class="card-heading simple">Grupos de clientes</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="span10 offset1">
                            <form id="target" class="form-horizontal"  action="#" method="post" >
                                <div class="control-group">
                                    <label class="control-label" for="grupos">Grupos de Clientes</label>
                                    <div class="controls">

                                        <div class="input-append">
                                            <select name="grupos" id="grupos">

                                                <optgroup label="Grupos publicos">
                 {% for grupo in grupos %}

                                                 <option value="{{  path('mostrar_grupo_clientes' , {  grupo : grupo.id }) }}">{{  grupo.nombre }}</option>
                 {% endfor %}
                                                </optgroup>

                                                <optgroup label="Grupos privados">
                 {% for grupo in grupos %}

                                                    <option value="{{  path('mostrar_grupo_clientes' , {  grupo : grupo.id }) }}">{{  grupo.nombre }}</option>
                 {% endfor %}
                                                </optgroup>

                                            </select>
                                            <div class="btn-group">
                                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Opciones
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu">
                                                    <li><a href="#modalCrearGrupo" role="button"   data-toggle="modal" >Agregar Grupo</a></li>
                                                    <li><a href="#">Eliminar Grupo</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="listaGrupos">

            </div>



        </div>
    </div>
</div>




<div id="modalCrearGrupo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  {{ render(controller( "CelmediaPortalBundle:Default:clientesForm" )) }}

</div>


{% endblock %}


{%  block js %}
{{ parent() }}

<script type="text/javascript" >

    function actualizarLista() {
        $("#listaGrupos").load($("#grupos").val());
    }

    $(document).ready(function() {
        $("#grupos").change(function() {
            actualizarLista();
        });
        actualizarLista();
    });


</script>


{% endblock %}