{%   extends("CelmediaPortalBundle::layout.plus.html.twig") %}

{% block title %}Configura tu envio de mensajes!{% endblock %}




{% block contenido %}

<div class="container">

    <div class="row">

        <div class="span12  ">

            <div>
                <section   id="paso1" class="setup_block setup_item current_item" style="display:block;" >
                    <div class="card">
                        <h3 class="card-heading simple">Definir Publico Target</h3>
                        <div  id="paso1Contenido" class="card-body">
           {{ render(controller('CelmediaPortalBundle:Default:targetBlock')) }}
                        </div>
                    </div>
                </section>     
            </div>

            <div>
                <section   id="paso2" class="setup_item setup_block " style="display:none;" >
                    <div class="card">
                        <h3 class="card-heading simple">Seleccione el tipo de mensaje</h3>
                        <div class="card-body">
          {{ render(controller('CelmediaPortalBundle:Default:tipoMensaje')) }}
                        </div>
                    </div>
                </section>     
            </div>

            <div>

                <section   id="mensaje" class="setup_item setup_block " style="display:none;" >
                    <div class="card">
                        <h3 class="card-heading simple">
                            <i class="fa fa-envelope fa-1x"></i>
                            Configure el mensaje de texto</h3>
                        <div  id="mensajeContenido" class="card-body">
           {{ render(controller('CelmediaPortalBundle:Default:mensaje')) }}
                        </div>
                    </div>
                </section>

            </div>

            <div>
                <section   id="tarjeta" class="setup_item setup_block "   style="display:none;">
                    <div class="card">
                        <h3 class="card-heading simple">
                            <i class="fa fa-credit-card fa-2x"></i>
                            Configure la Tarjeta</h3>
                        <div  id="tarjetaContenido"  class="card-body">
           {{ render(controller('CelmediaPortalBundle:Default:tarjeta')) }}
                        </div>
                    </div> 
                </section>

            </div>

            <div>

                <section   id="paso3" class="setup_item setup_block "   style="display:none;">
                    <div class="card">
                        <h3 class="card-heading simple">

                            Resumen de Campana</h3>
                        <div class="card-body"  id="contenido_resumen">
                            contendo resumen 
                        </div>
                    </div> 
                </section>

            </div>

            <section   id="paso4" class="setup_item setup_block "   style="display:none;">
                <div class="card">
                    <h3 class="card-heading simple">

                        Finalizar</h3>
                    <div class="card-body">
         {{ render(controller('CelmediaPortalBundle:Default:preview')) }}
                    </div>
                </div> 
            </section>



        </div>


    </div>
</div>
</div>





{% endblock %}

{%  block js %}
{{ parent() }}

{% javascripts
  '@CelmediaPortalBundle/Resources/public/js/form.js'      
  %}
<script  type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% endblock %}