<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal de envio de mensajes">
    <meta name="author" content="Celmedia">
    <title>{% block title %}Portal SMS{% endblock %}</title>

    {% stylesheets 
    '@CelmediaPortalBundle/Resources/public/css/jquery-ui.min.css'
    '@CelmediaPortalBundle/Resources/public/css/bootstrap.css'
    '@CelmediaPortalBundle/Resources/public/css/jquery.multiselect.css'
    '@CelmediaPortalBundle/Resources/public/css/jquery.multiselect.filter.css'
    '@CelmediaPortalBundle/Resources/public/css/sb-admin.css'
    '@CelmediaPortalBundle/Resources/public/font-awesome/css/font-awesome.css'
    '@CelmediaPortalBundle/Resources/public/css/reset.css'
    '@CelmediaPortalBundle/Resources/public/css/style.css'
    '@CelmediaPortalBundle/Resources/public/css/datepicker3.css'
    '@CelmediaPortalBundle/Resources/public/css/*'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('portal_home') }}">Portal SMS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="{{ path('portal_home') }}"><i class="fa fa-home"></i> Inicio</a></li>
                    <li><a href="#"><i class="fa fa-suitcase"></i> Mis Clientes</a></li>
                    <li><a href="#"><i class="fa fa-bullhorn"></i> Campañas</a></li>
                    <!--
                    <li><a href="#"><i class="fa fa-group"></i> Grupos </a></li>
                    <li><a href="#"><i class="fa fa-suitcase"></i> Envio Campanas</a></li> -->
                    
                    <!-- <li><a href="#"><i class="fa fa-user"></i> Usuarios</a></li> -->
                    
                     <li><a href="#"><i class="fa fa-desktop"></i> Reportes</a></li> 
                    
                    <!-- <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
                    <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li> -->
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dropdown Item</a></li>
                            <li><a href="#">Another Item</a></li>
                            <li><a href="#">Third Item</a></li>
                            <li><a href="#">Last Item</a></li>
                        </ul>
                    </li> -->
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">7 New Messages</li>
                        <li class="message-preview">
                          <a href="#">
                            <span class="avatar"><img src="http://placehold.it/50x50"  alt="notificaciones" ></span>
                            <span class="name">John Smith:</span>
                            <span class="message">Hey there, I wanted to ask you something...</span>
                            <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                      <a href="#">
                        <span class="avatar"><img src="http://placehold.it/50x50"  alt="notificaciones"  ></span>
                        <span class="name">John Smith:</span>
                        <span class="message">Hey there, I wanted to ask you something...</span>
                        <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                      <a href="#">
                        <span class="avatar"><img src="http://placehold.it/50x50"  alt="notificaciones"  ></span>
                        <span class="name">John Smith:</span>
                        <span class="message">Hey there, I wanted to ask you something...</span>
                        <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">View Inbox <span class="badge">7</span></a></li>
                    </ul>
                    </li>
                    <li class="dropdown alerts-dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                        <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                        <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                        <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                        <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                        <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="contenido">
        {% block contenido %}
                


        {% endblock %}
        </div>

    </div>

    {%  block js %}
    {% javascripts
    '@CelmediaPortalBundle/Resources/public/js/jquery-1.10.2.js' 
    '@CelmediaPortalBundle/Resources/public/js/jquery-ui.min.js' 
    '@CelmediaPortalBundle/Resources/public/js/bootstrap.js' 
    '@CelmediaPortalBundle/Resources/public/js/raphael-min.js'
    '@CelmediaPortalBundle/Resources/public/js/tablesorter/jquery.tablesorter.js'
    '@CelmediaPortalBundle/Resources/public/js/tablesorter/tables.js'
    '@CelmediaPortalBundle/Resources/public/js/bootstrap-datepicker.js'     
    '@CelmediaPortalBundle/Resources/public/js/jquery.multiselect.min.js'
    '@CelmediaPortalBundle/Resources/public/js/jquery.multiselect.filter.js'
    '@CelmediaPortalBundle/Resources/public/js/jquery.blockUI.js'
    '@CelmediaPortalBundle/Resources/public/js/jquery.liquid-slider.js'
    '@CelmediaPortalBundle/Resources/public/js/jquery.touchSwipe.js'
    '@CelmediaPortalBundle/Resources/public/js/script.js' %}
    <script  type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
</body>
</html>