{%   extends("CelmediaPortalSmsBundle::layout.html.twig") %}


{% block contenido %}
    {% block body -%}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
              <h1>Clientes <small>Mantenimiento</small></h1>
              <ol class="breadcrumb">
                <li class="active"><i class="fa fa-bullhorn"></i> Clientes</li>
              </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <h2>Listado</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tablesorter">
                        <thead>
                          <tr>
                            <th class="header">Nombre <i class="fa fa-sort"></i></th>
                            <th class="header">Correo <i class="fa fa-sort"></i></th>
                            <th class="header">Telefono <i class="fa fa-sort"></i></th> 
                            <th class="header">Actions <i class="fa fa-sort"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.nombre }}</td>
                                    <td>{{ entity.correo }}</td>
                                    <td>{{ entity.telefono }}</td> 
                                    <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('cliente_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                     <ul>
                        <li>
                            <a href="{{ path('cliente_new') }}">
                                Create a new entry
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}


{% endblock %}
