{%   extends("CelmediaPortalSmsBundle::layout.html.twig") %}


{% block contenido %}

{% block body -%}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
          <h1>Grupo <small>Mantenimiento</small></h1>
          <ol class="breadcrumb">
            <li class="active"><i class="fa fa-bullhorn"></i> Grupos</li>
            <li class=""> Informaci&oacute;n</li>
          </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Informaci&oacute;n</h3>
              </div>
              <div class="panel-body">
                <table class="record_properties">
                    <tbody>
                        <!-- <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr> -->
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ entity.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Contenido</th>
                            <td>{{ entity.contenido }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ entity.tipo }}</td>
                        </tr>
                        <tr>
                            <th>Objetivo</th>
                            <td>{{ entity.objetivo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <ul class="record_actions">
            <li>
                <a href="{{ path('campana') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('campana_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
              </div>
    </div>
</div>
    

{% endblock %}

        
{% endblock %}
