{%   extends("CelmediaPortalSmsBundle::layout.html.twig") %}


{% block contenido %}

<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Portal SMS <small>Promociones</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Promociones</li>
      </ol>

    </div>
  </div><!-- /.row -->

  <div class="row">

    <div class="col-lg-6 col-lg-offset-2  ">


      <div class="panel-group" id="accordion">



        <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <i class="fa fa-credit-card fa-1x"></i>  ENVIO DE TARJETA
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              
              

                <form role="form" action="{{  path('tarjeta') }}" method="post" {{ form_enctype(form) }}>

                    <div class="form-group">
                      {{ form_label(form.nombre) }}
                      {{ form_widget(form.nombre  , {'attr': {'class': 'form-control'}} ) }}              
                    </div>

                    <div class="form-group">
                      <label>Vigencia de Promocion</label>
                    </div>

                    <div class="form-group">

                       <label>Fecha Inicial: </label>
                      
                      <div class="input-append" id="sandbox-container1">
                       <!-- <input type="text" class="form-control" /> -->
                       {{ form_widget(form.fechaInicial  , {'attr': {'class': 'form-control'}} ) }}  

                      
                      </div>
                      <span class="add-on"><i class="fa fa-calendar"></i></span>
                     
                    </div>
                    
                    <div class="form-group">

                        <label>Fecha Fin:     </label>
                        <div class="input-append" id="sandbox-container2">
                        <!-- <input type="text" class="form-control" /> -->
                        {{ form_widget(form.fechaFin  , {'attr': {'class': 'form-control'}} ) }}  
                        </div>

                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>



                    <div class="form-group">
                      <label>Tipo de Tarjeta</label>
                      {{ form_widget(form.tipo ,  {'attr': {'class': 'form-control'}} ) }}
                    </div>


                    {{  form_row(  form._token ) }}


                    <button class="btn btn-warning" type="submit">Siguiente</button>
                    <button class="btn btn-info" type="reset">Clear</button>  

              </form>


            </div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- /.row -->


</div><!-- /#page-wrapper -->
<style type="text/css">

  .panel-warning > .panel-heading {
    color: #E69C1D;
    }
  .input-append, .input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    }
    .input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    }
    .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
      vertical-align: top;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      }
    .input-append .add-on, .input-prepend .add-on {
      display: inline-block;
      width: auto;
      height: 20px;
      min-width: 16px;
      padding: 4px 5px;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
      text-shadow: 0 1px 0 #ffffff;
      background-color: #eeeeee;
      border: 1px solid #ccc;
      }
      .input-append .add-on, .input-append .btn, .input-append .btn-group {
        margin-left: -1px;
        }
</style>
{% endblock %}
{% block otrojs %}
    <script type="text/javascript">
      $(document).ready(function() {

        $('#sandbox-container1 input').datepicker({
        });
        $('#sandbox-container2 input').datepicker({
        });

      });

    </script>
{% endblock %}
