            <div class="card">
               <h3 class="card-heading simple">Listado de clientes en el grupo {{ grupo.nombre }}</h3>
               <div class="card-body">
                  <div class="row">
                     <div class="span9">


                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Nombre</th>
                              <th>Telefono</th>
                              <th>Correo</th>
                              <th>Operadora</th>
                           </tr>
                        </thead>
                        <tbody>

                        {% for cliente in clientes %}
                           <tr>
                              <td>{{  cliente.id }}</td>
                              <td>{{  cliente.nombre }}</td>
                              <td>{{ cliente.telefono }}</td>
                              <td>{{  cliente.correo }}</td>
                              <td>{{  cliente.operadora }}</td>
                           </tr>
                         {% endfor %}


                        </tbody>
                     </table>

                  </div>
               </div>
            </div>
         </div>